/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.body{
  width: 100vw;
  height: 100vh;
  background-image: url("../public/17545.jpg");
  background-size: cover;

}

.login-form{
  background-image: url("../public/17545.jpg");
  /* /public/5183000.jpg   */
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 100px;
  padding: 100px;
  padding-bottom: 100px;
}

.homeWelcome{
  text-align: center;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

.header{
  margin-left: 70px;
height: 400px;
padding-bottom: 60px;
}

.linkButtons{
  display: flex;
  flex-direction: row;
  margin-left: 900px;
  margin-top: -300px;

}

.button{
  border-radius: 20px;
  padding: 12px;
  font-size-adjust: 35px;
  margin-left: 35px;
  margin-top: 40px; 
  margin-right: 15px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: rgb(128, 128, 128);
  color: white;
  left: 50px;
  
}

.categoriesBox{
  position: flex;
  flex-direction: row;
text-align: center;
}
.categories{
  font-size: xx-large;
  color: #282c34;
}

.categoryBox{
  position: flex;
  flex-direction: row;
text-align: center;
/* width: cover; */
/* align-content: center; */
border: #282c34;
border-width: 5px;
}

.subTitle{
  position: flex;
  flex-direction: row;
  /* position: center; */
text-align: center;
/* width: 200px; */
}

.drawingList{
  position: relative;
  flex-direction: column;
text-align: center;
display: flex;
border: #282c34;
border-width: 5px;
width: 300px;
}

.buttonDraw{
  border-radius: 20px;
  padding: 12px;
  font-size-adjust: 35px;
  /* margin-left: 35px; */
  /* margin-top: 40px;  */
  /* margin-right: 15px; */
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  background-color: rgb(128, 128, 128);
  color: white;
  /* left: 50px; */
  width: 150px;
}

.randomizerDiv{
 margin-top: 60px;
 margin-left: 500px;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 250px;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  border: 7px solid rgb(44, 130, 205);
  border-radius: 80px;
}

.randoH1{
  display: flex;
  flex-direction: row;
  position: relative;
  /* width: 900px; */
  align-content: center;
  top: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
}

.randBtn{
  border-radius: 50px;
  padding: 15px;
  /* margin-left: 255px; */
  /* margin-top: 40px;  */
  /* margin-right: 15px; */
  width: 300px;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  background-color: rgb(128, 128, 128);
  color: white;
}
.randomCard{
width: cover;
align-items: center;
display: flex;
flex-direction: column;
}

.randoCardBlank{
  display: flex;
  flex-direction: column;
  height: 50px;
  padding: 0px;
  border: #d56e67;
  border-width: 10px;
  font-weight: 300px;
  position: relative;
  font-size: 35px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
