/* CategoryCard.css */
.category-container {
  background-image: url('./back3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 20px;
}

.categoryBox {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff; /* Set a background color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.subTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px; /* Increase the font size for better visibility */
  width: fit-content;
  background-color: #7eecfa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: #333; /* Set text color */
}

.categoryTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Add top margin */
}

.catName {
  margin-top: 10px; /* Add top margin */
  font-size: 24px; /* Increase the font size for category name */
}

.drawingGrid {
  grid-row: span;
}
/* Add this CSS for the drawings */
/* Style for the container of drawings */
/* Style for the container of drawings */
.catDrawings {
  list-style: none;
  grid-row: auto;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox to make the drawings display horizontally */
  flex-wrap: wrap; /* Allow wrapping to the next row if there are too many drawings */
  justify-content: space-between; /* Add spacing between the drawings */
}

/* Style for each individual drawing card */
.catDrawings li {
  flex-basis: calc(33.33% - 10px); /* Adjust the width of each drawing card (33.33% for three cards per row) */
  margin-bottom: 10px; /* Add margin between drawing cards */
}



.drawingHead {
  font-size: 32px; /* Increase the font size for drawing heading */
  color: #333; /* Set text color */
  text-decoration: underline;
}

.grid-container {
  display: grid;
grid-row: auto;  
grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.drawingList {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  flex-direction: row;
  grid-row: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-left: 20px;
}

.newUserForm {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff; /* Set a background color */
  box-shadow: 0px 2px 4px rgba(176, 75, 75, 0.2);
}

/* Add more specific styling as needed for other elements */
