.userProfile {
  text-align: center;
  padding: 20px;

    background-image: url('./back5.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
  
}

.userNameTitle  {
  font-size: 34px;
  margin-bottom: 20px;
  text-transform: uppercase;
}


